/* Generics */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: whitesmoke;
}

h1{
    font-weight: bolder ;
    display: inline;
    margin-left: 10px;
    vertical-align: middle;
}

button{
    color: gray;
    padding: 5px 10px;
    border-radius: 11%;
    font-style: normal;
}

section{
    padding: 5px 10px;
}

ul{
    list-style-type: none;
    margin-top: 15px;
}

li{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Utilities*/

.container {
    max-width: 1000px;
    margin: 20px auto;
    border: 1px solid grey;
    background-color: white;
}

/* Main Header */
#main-header{
    height: 80px;
    background-color: white;
}

/*Header*/
#logo {
    height: 60px;
    margin-top: 10px;
    vertical-align: middle;
}

/* Dati del Main*/

.option {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*dimensioniamo caratteri speciali*/
.menu {
    font-size: xx-small;
}
/*Realizzazioni classi attività fatte e non*/

.circle{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50%;
    line-height: 15px;
    font-size: 10px;
    text-align: center;
}
    
.done {
    color: green;
    border: 1px solid green;
}

.notdone{
    color: red;
    border: 1px solid red;
}

.round {
    color: white;
    padding: 2px;
    border-radius: 30%;
    font-family:verdana;
    font-size: xx-small;
    display: inline-block;
}

.editorial {
    background-color: #45abeb;
}

.Q1-goals {
    background-color: #9d72e5;
}

.recruiting {
    background-color: #d1fff7;
}

.mobile {
    background-color: #ecbb7a;
}

.website {
    background-color: #cc6b99;
}

.sales {
    background-color: #b0c82e;
}