/* Generics */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;

}

h1{
    font-weight: bolder ;
    display: inline;
    margin-left: 10px;
    vertical-align: middle;

}

button {
    padding: 5px 10px;
    border-radius: 11%;
    font-style: normal;

}

section {
    padding: 5px 10px;
}

ul{
    list-style-type: none;
    margin-top: 10px;

}


/* Utilities*/

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: gray;
}


/* Main Header */
#main-header{
    height: 80px;
    background-color: lightcoral;
}

/*Header*/
#logo {
    height: 60px;
    margin-top: 10px;
    vertical-align: middle;

}


/* Dati del Main*/

.option {
    padding: 10px;
    margin-top: 20px;
}
